//fontsize
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 40px;

//color
$cl-black-0: #000;
$cl-black-1:#333;
$cl-black-2: #4a4a4a;
$cl-black-3:#9b9b9b;

$cl-white-0: #fff;

$cl-orange-0: #fa5238;
$cl-orange-1: #FB4226;
//line-height
$line: 1.43;

//font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;
$fw-0:400;
//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 30px;
//margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 40px;
