.swiper-pagination-bullets{
    bottom: 60px !important;
}
.swiper-button-next, .swiper-button-prev{
    color: $cl-black-3 !important;
}
.swiper-pagination-bullet{
    height: 15px !important;
    width: 15px !important;
}